{% extends 'myappF23/base.html' %}
{% block body_block %}
    <body>
    <h2>About Us</h2>
    <p>This is a Distance Education Website! Search our Categories to find all available Courses.</p>

    {% comment %} Link to go back to the main page using a hardcoded URL {% endcomment %}
    <p><a href="/myappF23/">Go back to Main Page (Hardcoded)</a></p>

    {% comment %} Link to go back to the main page using URL namespacing  {% endcomment %}
    <p><a href="{% url 'myappF23:index' %}">Go back to Main Page (Namespaced)</a></p>
</body>
{% endblock %}
